/* 영화 상세 정보 css 작성 */

/* 리뷰 작성 부분 css */
.comment-write {
  padding-top: 5px;
}
.detail > h3 {
  padding-top: 100px;
  color: #0e0a20;
}
.comment-write > h3 > b {
  color: #4d4c7d;
}
.comment-write .comment_input {
  border-top: 5px solid #0e0a20;
  border-bottom: 5px solid #0e0a20;
  padding-top: 15px;
  padding-bottom: 15px;
}

.comment-write .info {
  padding: 15px 15px 0px 20px;
  display: flex;
  align-items: center;
}

.comment-write .comment_select {
  padding: 0px 15px 0px 20px;
  display: flex;
  align-items: center;
}

.comment-write .write {
  padding: 15px;
  align-items: center;
}

.comment-write .info input {
  border: none;
  background-color: #eeeeee;
  padding: 5px;
}

.comment-write .info dl {
  display: flex;
  width: 50%;
  vertical-align: middle;
  margin: 0;
  align-items: center;
}

.comment-write .info dt {
  width: 150px;
  padding: 15px 5px 15px;
  font-size: 15px;
}
.comment-write .info input {
  width: 150px;
  padding: 5px 15px 5px 15px;
  outline: none;
  font-size: 15px;
}

.comment-write .comment_select dl {
  display: flex;
  width: 50%;
  vertical-align: middle;
  margin: 0;
  align-items: center;
}

.comment-write .average p,
.comment-write .part p {
  width: 150px;
  font-size: 15px;
  font-weight: bold;
  margin: 0;
}

.comment-write .comment_select dt {
  width: 150px;
  padding: 15px 5px 15px;
  font-size: 15px;
}

.comment-write .comment_select select {
  width: 150px;
  padding: 5px;
  border: 2px solid #eeeeee;
  outline: none;
  font-size: 15px;
  /* -webkit-appearance: none;
    -moz-appearance: none;
    appearance : none; */
}

.comment-write .write {
  display: flex;
  vertical-align: middle;
  margin: 0;
  align-items: center;
}
.comment-write .write_btn {
  width: 150px;
  height: 85px;
  color: white;
  font-size: 15px;
  border: none;
  background-color: #0e0a20;
  margin-left: 25px;
}

.comment-write .write textarea {
  display: block;
  width: 90%;
  padding: 20px;
  box-sizing: border-box;
  border: none;
  outline: none;
  resize: none;
  background-color: #eeeeee;
  font-size: 15px;
}
/* 영화 상세 내용 css*/
.detail .box {
  position: relative;
  max-width: 1366px;
  width: 100%;
  min-height: 510px;
  height: auto;
}

.detail .box-img {
  position: absolute;
  max-width: 280px;
}
.detail .box-img .box-size {
  width: 100%;
  height: auto;
}

.detail .box-contents {
  /* border: 1px solid black; */
  position: absolute;
  left: 305px;
  max-width: 700px;
  width: 100%;
  text-align: left;
}

.detail .box-contents strong {
  color: #4d4c7d;
  font-size: 30px;
}

.detail .box-contents .vote-average {
  padding-top: 50px;
  padding-bottom: 5px;
  border-bottom: 1px solid #0e0a20;
}
.detail .box-contents .vote-average p {
  padding: 0;
}

.detail .box-contents .vote-average .tit-spec {
  display: inline-block;
  width: 100px;
  font-weight: 600;
}

.detail .box-contents .vote-average .rate {
  margin-right: 5px;
  font-style: normal;
}

.detail .box-contents .spec {
  padding-top: 23px;
  font-size: 13px;
}

.detail .box-contents .spec p {
  margin-bottom: 0;
}

.detail .box-contents .spec .tit-spec {
  display: inline-block;
  width: 100px;
  font-weight: bold;
}

.detail .box .box-contents .overview {
  margin-top: 15px;
  height: auto;
}

/* 우측 영역 추가 */
.detail-banner {
  position: absolute;
  right: 0;
  padding: 20px;
  width: 250px;
  border: 2px solid #4d4c7d;
  border-radius: 10px;
}

.detail-banner .tit {
  margin-bottom: 0;
  font-size: 20px;
  font-weight: bold;
  color: #4d4c7d;
}

.detail-banner .desc {
  margin-top: 4px;
  margin-bottom: 0;
  font-size: 13px;
}

.detail-banner .realtime {
  margin-top: 4px;
  font-size: 12px;
  font-weight: bold;
  color: #4d4c7d;
}

.detail-banner .rank {
  margin-bottom: 0;
  padding-left: 0;
}

.detail-banner .rank li {
  margin-bottom: 4px;
  list-style: none;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.detail-banner .rank li > b {
  display: inline-block;
  width: 25px;
  font-weight: 600;
  color: #121212;
}

.detail-banner .rank li > span {
  font-size: 13px;
}

.detail-banner .rank li > span:hover {
  font-weight: bold;
  color: #4d4c7d;
  cursor: pointer;
}

.detail-banner .rank li:first-child span {
  font-weight: bold;
  color: #4d4c7d;
}

.detail .movie-video {
  position: relative;
  border-top: 5px solid #0e0a20;
}

.detail .movie-video .video {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
}

.detail .movie-video iframe {
  position: absolute;
  width: 100%;
  height: 100%;
}

.detail .movie-video h4 {
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 30px;
  font-weight: bold;
  color: #4d4c7d;
}

.detail .rest-videos {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding-top: 25px;
}
.detail .rest-videos .rest-video {
  margin: 15px 15px;
  width: 300px;
  height: 150px;
}

/* 리뷰 리스트 css */
.comment-list {
  height: 600px;
  padding-top: 30px;
  overflow: auto;
}
.comment-list .comment {
  height: 80px;
  margin: 20px 0px 20px 0px;

  display: flex;
  justify-content: center;
  flex-direction: row;
}

.comment-list .user {
  width: 100px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.comment-list .user-img {
  width: 45px;
  height: 45px;
  margin: auto;

  background-image: url(https://www.studioapple.com/common/img/default_profile.png);
  border-radius: 70%;
  background-position: center;
  background-size: cover;
}

.comment-list .user-id {
  margin: auto 0px auto 0px;
}

.comment-list .comment-box {
  background-color: rgba(0, 0, 0, 0.04);
  width: 70%;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;

  border-radius: 10px;
  border-top-left-radius: 0;
}

.comment-list .comment-point {
  width: 10%;
  margin: 10px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.comment-list .comment-recommend {
  width: 15%;
  margin: 10px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.comment-list .comment-txt {
  width: 80%;
  height: 70%;
  margin: 10px;

  display: flex;
  align-items: center;

  margin-right: 10%;
  padding-left: 5%;

  border-left: thin solid #0e0a204b;
}

/* 수정 삭제 버튼 추가 */
.comment-list .edit-btn {
  width: 60px;
  height: 25px;
  color: white;
  font-size: 13px;
  border: none;
  background-color: #0e0a20;
  margin-left: 15px;
  margin-top: 10px;
}

.comment-list .delete-btn {
  width: 60px;
  height: 25px;
  color: white;
  font-size: 13px;
  border: none;
  background-color: #0e0a20;
  margin-left: 15px;
  margin-top: 10px;
}

/* responsive */
@media (max-width: 1400px) {
  .detail .box-contents {
    width: 100%;
    max-width: fit-content;
  }
  .detail-banner,
  .detail .rest-videos {
    display: none;
  }
}

@media (max-width: 767px) {
  .detail .box {
    height: auto;
  }

  .detail .box-img {
    position: static;
    max-width: 100%;
  }

  .detail .box-contents {
    padding: 10px 0;
    width: 100%;
    position: static;
    max-width: fit-content;
  }

  .detail .box-contents strong {
    font-size: 20px;
  }

  .detail .box-contents .vote-average {
    padding: 0;
  }

  .detail .box-contents .vote-average p {
    margin: 0 0 5px 0;
  }

  .detail .box-contents .spec {
    padding-top: 5px;
  }

  .detail .box-contents .spec p {
    margin-bottom: 0;
  }

  .detail .box .box-contents .overview {
    margin: 5px 0;
  }

  .comment-list {
    height: auto;
  }

  .comment-write {
    padding-top: 40px;
  }

  .comment-write .info,
  .comment-write .comment_select {
    display: block;
  }

  .comment-write .info dl,
  .comment-write .comment_select dl {
    width: 100%;
  }
}

/* 수정 부분 css modal 창 */
